/*DARKMODE*/
.darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.darkmode__title {
  color: var(--grey);
  font-size: 0.8em;
  font-weight: bold;
}
.darkmode__switch {
  position: relative;
}
.darkmode__switch input {
  position: absolute;
  height: 0;
  display: none;
  overflow: hidden;
}
.darkmode__inner {
  width: 50px;
  /*background: var(--inner);*/
  background-image: linear-gradient(
    to right,
    var(--inner) 0%,
    var(--inner-2) 100%
  );
  height: 20px;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
  user-select: none;
}
.darkmode__inner--dot {
  width: 20px;
  height: 20px;
  background: var(--dot);
  border-radius: 50%;
  transition: all 0.2s ease-out;
  /*transform: translateX(30px);*/
  transform: translateX(0px);
}
.darkmode__switch input:checked ~ .darkmode__inner .darkmode__inner--dot {
  /*transform: translateX(0px);*/
  transform: translateX(30px);
}

@media screen and (min-width: 980px) {
  .darkmode__switch {
    margin-left: 25px;
  }
}
